%h1 Типы товара

%table.table
  %tr
    %th Название
    %th Поля
    %th
    %th
    %th 
  - if @types.present?
    - @types.each do |type|
      %tr
        %td= type.title
        %td
          - if type.type_fields.present?
            - type.type_fields.each do |prop|
              = "| #{prop.title} |"
        %td= link_to 'Показать', type
        %td= link_to 'Редактировать', edit_item_type_path(type)
        %td= link_to 'Удалить', type, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'Создать тип товара', new_item_type_path, class: "btn btn-success btn-green"
