%h1 Пользователи
= link_to "New user", new_user_path
%table.table.table-striped
  %tr
    %th Name
    %th Mail
    %th Admin?
    %th 
  - @users.each do |user|
    %tr
      %td= user.name
      %td= user.email
      %td= user.admin
      %td
        = link_to "Редактировать", edit_user_path(user)
        = link_to "Удалить", user, :method => :delete, :data => { :confirm => 'Are you sure?' }




