%section.nexuses
  %h1 Товары — Главная база
  %ul.tabs 
    %li.active#db База
    %li#categories Category
    %li#types Типы товаров
  %div.tabs-content
    %div.active#db
      %table.table.table-striped
        %tr
          %th Title
          %th Pages
          %th ISBN
          %th pricetax
          %th year
          %th onpn 
          %th author 
          %th header 
          %th std 
          %th price
          %th publisher 
          %th translate 
          %th sid
          %th year
          %th genre
          %th series 
          %th format 
          %th article
          %th ean 
          %th category 
          %th Действия
        - @nexuses.each do |item|
          %tr
            %td= item.title
            %td= item.pages
            %td= item.isbn
            %td= item.pricetax
            %td= item.year
            %td= item.onpn 
            %td= item.author 
            %td= item.header 
            %td= item.std 
            %td= item.price
            %td= item.publisher 
            %td= item.translate 
            %td= item.sid
            %td= item.year
            %td= item.genre
            %td= item.series 
            %td= item.format 
            %td= item.article
            %td= item.ean 
            %td= item.category 
            %td
              = link_to "Показать", nexuse_path(item)
              = link_to "Редактировать", edit_nexuse_path(item)
              = link_to "Удалить", item, :method => :delete, :data => { :confirm => 'Are you sure?' }
    %div#categories
      %span ...
    %div#types
      %span ...
