= form_for @item do |f|
  - if @item.errors.any?
    #error_explanation
      %h2= "#{pluralize(@item.errors.count, "error")} prohibited this item from being saved:"
      %ul
        - @item.errors.full_messages.each do |msg|
          %li= msg
  - if params[:position]
    = f.hidden_field :item, value: params[:position]

  .field
    = f.label "Название"
    = f.text_field :title
  .field 
    = f.label "price"
    = f.number_field :price
  .field
    = f.label "old_price"
    = f.number_field :old_price
  .field 
    = f.label "Видимость"
    = f.select :visibility, [['Видимо', true], ['Невидимо', false]], :selected => false
  .field 
    = f.label "Тип"
    = f.select :item_type, [['Кника', "book"]]
  .field 
    = f.label "Вес"
    = f.number_field :weight
  .field
    = f.label "description"
    = f.text_field :description
  .field
    = f.label "meta_tags"
    = f.text_field :meta_tags
  .field
    = f.label "Автор"
    = select(:item, :author, @author, {}, {:multiple => true, :class => 'selectpicker', :data => {"live-search" => "true"}})
  .field
    = f.label "Жанр"
    = select(:item, :genre, @genre, {}, { :class => 'selectpicker', :data => {"live-search" => "true"}})
  .field
    = f.label "Категория"
    = select(:item, :category, @category, {}, { :class => 'selectpicker', :data => {"live-search" => "true"}})
  .field
    = f.label "Издатель"
    = select(:item, :publisher, @publisher, {}, { :class => 'selectpicker', :data => {"live-search" => "true"}})
  .actions
    = f.submit 'Сохранить'
