%section.items
  %h1 Товары — Главная база
  = link_to "Все", items_path, class: "btn btn-primary"
  = link_to "Видимые", items_path(visibility: true), class: "btn btn-primary"
  = link_to "Обработанные", items_path(moderation: true), class: "btn btn-primary"
  = link_to "Обрабатываются", items_path(moderation: false), class: "btn btn-primary"
  .items-create
    - if ItemType.all.present?
      - ItemType.all.each do |it|
        = link_to "Новый товар>#{it.title}", new_item_path(item_type: it.id), class: "new_item btn btn-success btn-primary"
  %div.tabs-content
    %div.active#db
      %table.table.table-striped
        %tr
          %th title
          %th Тип
          %th author 
          %th publisher 
          %th genre
          %th category 
          %th moderation
          %th Позиции
          %th Действия
        - if @items.present?
          - @items.each do |item|
            %tr
              %td= item.title
              %td= item.item_type.title
              %td= item.author 
              %td= item.publisher 
              %td= item.genre
              %td= item.category 
              %td= item.moderation
              %td= item.price
              %td= item.visibility
              - Nexuse.where(item_id: item.id).to_a.each do |i|
                %td= link_to "#{i.title}", nexuse_path(i)
              %td
                = link_to "Показать", item_path(item)
                = link_to "Редактировать", edit_item_path(item)
                - if current_user.admin && !(item.moderation)
                  = link_to "Обработать", approve_item_path(item)
                = link_to "Удалить", item, :method => :delete, :data => { :confirm => 'Are you sure?' }
        - else
          %tr
            %td Товаров не найдено.
