%p#notice= notice
#tab.btn-group{"data-toggle" => "buttons-radio"}
  %a.btn.btn-large.btn-info.active{"data-toggle" => "tab", href: "#prices2"} Товар
  %a.btn.btn-large.btn-info{"data-toggle" => "tab", href: "#features2"} Позиции
.tab-content
  #prices2.tab-pane.active
    %br/
    %p.lead Основное
    .hurow
      %section.main
        %p
          %b Название: 
          =@item.title
        %p
          %b Автор: 
          =@item.author
        %p
          %b Жанр: 
          =@item.genre
        %p
          %b Категория: 
          =@item.category
        %p
          %b Обработка: 
          =@item.moderation
  #features2.tab-pane
    %br/
    %p.lead Товарные позиции
    = link_to "Добавить позицию", link_item_path(@item)
    .hurow
    - @positions.each do |pos|
      %p 
        = link_to "#{pos.title}", nexuse_path(pos)

= link_to 'Редактировать товар', edit_item_path(@item)
\|
= link_to 'Назад', items_path
