= link_to "Новая категоризация", new_category_path
%h1 Категории
- @categories.each do |cat|
  %p= cat
%h1 Жанры
- @genres.each do |genre|
  %p= genre
%h1 Форматы
- @formats.each do |format|
  %p= format
%h1 Авторы
- @authors.each do |author|
  %p= author