<!DOCTYPE html>
<html>
<head>
  <title>Manage</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
<% if current_user.present? %>
<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/">Manage</a>
      <div class="nav-collapse">
        <ul class="nav navbar-nav">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Прайсы<b class="caret"></b></a></a>
        <ul class="dropdown-menu">
          <li><%= link_to 'Прайслисты', lists_path %></li>
          <li><%= link_to 'Загрузить прайс-лист', list_upload_path %></li>
          <li><%= link_to 'Поставщики', supliers_path %></li>
          <li><%= link_to "Очистить базу", flush_db_path %></li>
        </ul>
      </li>
      <li><%= link_to 'Товары', items_path %></li>
      <li><%= link_to 'Товарные позиции', nexuse_reports_path %></li>
      <li><%= link_to 'Категории', nexuse_category_path %></li>
      
    </ul>
         <ul class="nav pull-right">
          <li class="divider-vertical"></li>
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.email %><b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to 'Пользователи', users_path %></li>
              <li><%= link_to 'Выход', destroy_user_session_path %></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.nav-collapse -->
    </div>
  </div><!-- /navbar-inner -->
</div>
<nav class="navbar navbar-default clearfix" role="navigation">
    
</nav>
<% end %>

</header>
<div class="container-fluid">
<%= yield %>
</div>
</body>
</html>
